@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: unset;
}

.stats {
  bottom: 0;
  top: unset !important;
}

canvas {
  z-index: 10;
  position: fixed;
}

input {
  color: black;
}

section {
  min-height: 100vh;
}

section p:first-of-type {
  padding-top: 3rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  overscroll-behavior-x: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

h1 {
  font-size: 5rem;
}

h2 {
  margin: 0 3rem;
  width: calc(100vw - 6rem);
  transform: translateX(-45vw);
  font-size: 2.5rem;
  padding-left: 45vw;
  top: 0rem;
  position: sticky;
  z-index: 100;
  color: black;
  background-color: white;
  border-bottom: solid black 1px;
}

h3 {
  font-size: 2rem;
}

p,
blockquote,
button {
  padding-bottom: 3.2rem;
}

blockquote {
  padding: 5rem;
}

.text h1,
.text h3,
.text p,
.text blockquote {
  padding-left: 10vw;
}

.text h2 {
  display: flex;
  flex-wrap: nowrap;
}

.titleNumber {
  flex-shrink: 0;
  width: 10vw;
  height: 3rem;
  padding-top: 1rem;
  padding-left: 3rem !important;
}

/* punkte Text */
.animationMarker {
  background-color: black;
  color: white;
  padding: 0.25rem 0.7rem 0.3rem 0.7rem;
  border-radius: 9999px;
}

.punkt,
.punktComment {
  position: absolute;
  top: -20px;
  left: 3rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: black;
  pointer-events: all;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0px;
  text-align: center;
  transition: none;
}

.punktComment {
  top: 0px;
  background-color: #fca5a5;
  border: 1px solid black;
  display: none;
  /* border-radius: 0; */
}

mark {
  color: black;
  padding: 0.2rem;
  padding-left: 0;
  padding-right: 0;
  background-color: #fca5a5;
  border-radius: 5px;
}

.hoverActive {
  background-color: #34d399;
  color: black;
  cursor: default;
}