@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMMono";
  src: url("assets/fonts/DM_Mono/DMMono-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}

html,
body {
  font-size: 62.5%;
  font-family: "DMMono";
}

img {
  max-width: unset;
}

.stats {
  bottom: 0;
  top: unset !important;
}

canvas {
  z-index: 10;
  position: fixed;
}

input {
  color: black;
}

section {
  min-height: 100vh;
}

section p:first-of-type {
  padding-top: 3rem;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  overscroll-behavior-x: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 2rem;
}

blockquote {
  padding: 5rem;
}

.text h1,
.text h3,
.text p,
.text blockquote {
  /* padding-left: 10vw; */
}

.titleNumber {
  flex-shrink: 0;
  width: 10vw;
  height: 3rem;
  padding-top: 1rem;
  padding-left: 3rem !important;
}

/* punkte Text */
.animationMarker {
  background-color: black;
  color: white;
  padding: 0.25rem 0.7rem 0.3rem 0.7rem;
  border-radius: 9999px;
}

.punkt,
.punktComment {
  position: absolute;
  left: -0.9rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: black;
  pointer-events: all;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0px;
  text-align: center;
  transition: none;
}

.punktComment {
  top: 0px;
  background-color: #fca5a5;
  border: 1px solid black;
  display: none;
  /* border-radius: 0; */
}

mark {
  color: black;
  padding: 0.2rem;
  padding-left: 0;
  padding-right: 0;
  background-color: #fca5a5;
  border-radius: 5px;
}

.hoverActive {
  background-color: #34d399;
  color: black;
  cursor: default;
}

/* we will explain what these classes do next! */
.v-leave-active {
  transition: opacity 0s ease;
  transition-delay: 0.7s;
}

.v-enter-active {
  transition: opacity 0s ease;
  transition-delay: 0s;
}


.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-leave-active, .fade-enter-active {
  transition: opacity 0.7s ease;
}



.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}