@import url("/src/ibm-plex.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 62.5%;
  font-family: "IBM Plex Mono";
  hyphens: auto;
  background: #f3f4f6;
  /* background: #9747ff; */
}

/* *{background: #000;} */

html:focus-within {
  scroll-behavior: smooth;
}

img {
  max-width: unset;
}

.stats {
  bottom: 0;
  top: unset !important;
}

canvas {
  z-index: 10;
  position: fixed;
}

input {
  color: black;
}

section {
  min-height: 100vh;
}

section p:first-of-type {
  /* padding-top: 3rem; */
}

section p.breakSectionTitle {
  padding-top: 0px;
}

*::-webkit-scrollbar {
  display: none;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: none;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4.8rem;
  line-height: 5.8rem;
}

h3 {
  font-size: 3rem;
  line-height: 3.8rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
}

blockquote {
  padding: 5rem;
}
.T,
.subT,
.subSubT {
  padding-bottom: 1.5rem;
}
.font-IBM,
.P,
.subP,
.subSubP,
.subSubSubP,
.subSubParP {
  font-family: "IBM Plex Sans";
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}

.subSubP,
.subSubParP {
  padding-top: 1.5rem !important;
}

.titleNumber {
  flex-shrink: 0;
  width: 10vw;
  height: 3rem;
  padding-top: 1rem;
  padding-left: 3rem !important;
}

/* punkte Text */
.active > .animationMarker,
.active > * > .animationMarker,
.active > * > * > .animationMarker,
.active > * > * > * > .animationMarker {
  background-color: transparent;
  border: solid black;
  /* padding: 0 0.5rem 0 0.5rem; */
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  /* border-radius: 9999px; */
}

.animationMarkerClick.active {
  border: solid black;
  background: #9747ff;
  color: white;
  padding: 0.2rem 0.4rem;
  stroke: #9747ff;
}

.highlighterIlluFill.highlightIllu > * > * {
  fill: #9747ff;
  stroke: #9747ff;
  fill-opacity: 1;
}
.highlighterIlluBorder.highlightIllu > * > * {
  stroke: #9747ff;
  stroke-width: 5;
  stroke-opacity: 1;
}

.active > .highlightText,
.active > * > .highlightText,
.active > * > * > .highlightText,
.active > * > * > * > .highlightText {
  background: #9747ff;
  color: white;
}

.animationTrigger.active,
.animationTrigger.active {
  color: #353535;
  /* font-style: italic; */
}

.animationTrigger.active.noHighlight {
  color: black;
  font-style: normal;
}

.punkt,
.punktComment {
  position: absolute;
  left: -1.1rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: black;
  pointer-events: all;
  font-size: 1.3rem;
  line-height: 1.9rem;
  padding: 0px;
  text-align: center;
  transition: none;
}

.punktComment {
  top: 0px;
  background-color: #9747ff;
  border: 1px solid white;
  display: none;
}

mark {
  /* background-color: rgb(230, 230, 230); */
  text-decoration: line-through 1.3rem #9747ff33;
  /* text-decoration-thickness: 10px; */
  /* padding: 0.2rem; */
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  /* border-radius: 5px; */
}

.hoverActive {
  color: #9747ff;
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  cursor: pointer;
}

/* we will explain what these classes do next! */
.v-leave-active {
  transition: opacity 0s ease;
  transition-delay: 0.7s;
}

.v-enter-active {
  transition: opacity 0s ease;
  transition-delay: 0s;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
  width: 50vw;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  filter: blur(10px);
}
/* 
.menuTo-enter-active,
.menuTo-leave-active {
  transition: all 1s ease;
  transition-delay: 0;
}

.menuTo-enter-from,
.menuTo-leave-to {
  transform: translate(-35vw);
}

.menuTo-enter-to,
.menuTo-leave-from {
  transform: translate(0);
} */

.outLeft-leave-active,
.outLeft-enter-active {
  transition: opacity 0.7s ease;
}

.outLeft-enter-from,
.outLeft-leave-to {
  transform: translateX(-100vw);
}

.outLeft-leave-active,
.outLeft-enter-active {
  transition: opacity 0.7s ease;
}

.outLeft-enter-from,
.outLeft-leave-to {
  transform: translateX(-100vw);
}

.hoverImg {
  color: #9747ff;
  cursor: pointer;
}

sup {
  letter-spacing: 0;
  font-size: 55%;
  line-height: 2.1;
  /* color: black; */
  vertical-align: top;
  padding-left: 2px;
  padding-right: 1px;
  cursor: pointer;
}
sup:hover {
  background: #9747ff;
  color: white;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
